/* stylelint-disable */

@font-face {
  font-family: "Montserrat Bold";

  src: url("/assets/fonts/montserrat-bold/montserrat-bold.eot");
  src: url("/assets/fonts/montserrat-bold/montserrat-bold.woff2") format("woff2"), url("/assets/fonts/montserrat-bold/montserrat-bold.woff") format("woff"), url("/assets/fonts/montserrat-bold/montserrat-bold.ttf") format("truetype"), url("/assets/fonts/montserrat-bold/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-bold/montserrat-bold.svg#MontserratBold") format("svg");
}

@font-face {
  font-family: "Montserrat Medium";

  src: url("/assets/fonts/montserrat-medium/montserrat-medium.eot");
  src: url("/assets/fonts/montserrat-medium/montserrat-medium.woff2") format("woff2"), url("/assets/fonts/montserrat-medium/montserrat-medium.woff") format("woff"), url("/assets/fonts/montserrat-medium/montserrat-medium.ttf") format("truetype"), url("/assets/fonts/montserrat-medium/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-medium/montserrat-medium.svg#MontserratMedium") format("svg");
}

@font-face {
  font-family: "Montserrat Regular";

  src: url("/assets/fonts/montserrat-regular/montserrat-regular.eot");
  src: url("/assets/fonts/montserrat-regular/montserrat-regular.woff2") format("woff2"), url("/assets/fonts/montserrat-regular/montserrat-regular.woff") format("woff"), url("/assets/fonts/montserrat-regular/montserrat-regular.ttf") format("truetype"), url("/assets/fonts/montserrat-regular/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-regular/montserrat-regular.svg#MontserratRegular") format("svg");
}
