body {
  font-family: $f-regular;
  color: $c-black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: $f-bold;
  color: green;
}

ul {
  padding-left: 0;
}

ul li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.active-link {
  color: lightblue;
}

img {
  width: 100%;
}