/* colors */
$c-main: #009688;
$c-second: #fff59d;
$c-gray: #bdbdbd;
$c-red: #ef5350;
$c-black: #282828;

/* fonts */
$f-regular: 'Montserrat Regular', sans-serif;
$f-bold: 'Montserrat Bold', sans-serif;
$f-medium: 'Montserrat Medium', sans-serif;